.idea/
venv/
file1.csv
file2.csv
test.csv
Sample Transactions-test Data.csv
Sample Transactions with Target Variable.csv
task.csv
.~lock.task.csv#
producer-copy.py
consumer-copy.py
knnModel.pkl
neuralNetModel.pkl
